@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400);
html, body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  background-size: cover;
  -webkit-font-smoothing: antialiased; }

div#header {
  max-width: 950px;
  margin: 0 auto;
  overflow: auto;
  display: flex; }
  div#header h1 {
    color: rgba(0, 0, 0, 0.8);
    font-weight: 100;
    margin: auto;
    display: inline-block; }
    div#header h1 a {
      text-decoration: none; }
  div#header .section {
    height: 60px;
    display: inline-flex; }
    div#header .section > * {
      vertical-align: middle; }
    div#header .section .userInfo {
      margin: auto 5px; }
      div#header .section .userInfo > * {
        vertical-align: middle; }
      div#header .section .userInfo .userName {
        padding-left: 5px; }
    div#header .section .userImage {
      width: 30px;
      height: 30px;
      border-radius: 30px; }
    div#header .section .icon {
      transition: fill 0.3s ease;
      width: 30px;
      height: 100%;
      fill: #ccc; }
      div#header .section .icon:Hover {
        fill: #666; }
  div#header .createNew {
    margin: 10px;
    height: 34px; }
    div#header .createNew #newSnippet {
      margin: 0; }
  div#header .createButton {
    position: absolute;
    top: 2;
    right: 2; }
    div#header .createButton .newButton {
      fill: #ccc;
      width: 30px;
      height: 30px; }
  div#header .createNew:Hover .newButton {
    fill: #333; }

::-webkit-scrollbar {
  width: 7px; }

/* Track */
::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 7px; }

::-webkit-scrollbar-thumb:horizontal {
  -webkit-border-radius: 10px;
  border-radius: 7px;
  background: rgba(255, 255, 255, 0.4);
  background: rgba(0, 0, 0, 0.2);
  height: 2px; }

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 7px;
  background: rgba(255, 255, 255, 0.4);
  background: rgba(0, 0, 0, 0.2); }

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 255, 255, 0.2); }

.IDESTRUCT, .ide {
  width: 100%;
  height: calc(100% - 60px);
  display: flex; }
  .IDESTRUCT #display, .ide #display, .IDESTRUCT #editor, .ide #editor {
    flex: 1;
    height: 100%;
    margin: 0;
    padding: 0; }

.ide #editor {
  border-right: 1px dashed rgba(255, 255, 255, 0.5);
  border-right: 1px dashed rgba(0, 0, 0, 0.5); }

.ideCSSMode #holder {
  position: relative;
  display: block;
  height: calc(100% - 48px); }
  .ideCSSMode #holder #editor {
    border-right: 1px dashed rgba(255, 255, 255, 0.5);
    border-right: 1px dashed rgba(0, 0, 0, 0.5);
    display: block;
    width: 50%;
    flex: none; }
  .ideCSSMode #holder #display {
    pointer-events: none;
    height: calc(100% - 80px);
    position: absolute;
    top: 40;
    right: 0;
    bottom: 40;
    width: 70%; }

.ideDark #header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  background: #fff; }
  .ideDark #header a {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none; }
  .ideDark #header :Hover {
    color: white; }
.ideDark #holder #editor {
  border-right: 1px dashed rgba(255, 255, 255, 0.5);
  border-right: 1px dashed rgba(0, 0, 0, 0.5); }
