html
	head
		title Test IDE

		link(rel='stylesheet', href='ideTest.css')
		script(rel='text/javascript', src='socket.io/socket.io.js')
		script(rel='text/javascript', src='ideTestClient.js')

	body
		textarea#in
		iframe#display(height='100%' frameborder=0 scrolling='no')
