html
	head
		title Test IDE

		link(rel='stylesheet', href='ide/style.css')
		link(rel='icon', href='/favicon.ico')
		script(rel='text/javascript', src='socket.io/socket.io.js')
		script(rel='text/javascript', src='ide/core.js')

		script(rel='text/javascript', src='ace/ace.js')
		script(rel='text/javascript', src='ace/ext-language_tools.js')



	body
		//textarea#in
		iframe#display(height='100%' frameborder=0 scrolling='no')


		pre#editor
