@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400);
html, body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  background-size: cover;
  -webkit-font-smoothing: antialiased; }

div#header {
  max-width: 950px;
  margin: 0 auto;
  overflow: auto;
  display: flex;
  justify-content: space-between; }
  div#header h1 {
    color: rgba(0, 0, 0, 0.8);
    font-weight: 100;
    margin: auto;
    display: inline-block; }
    div#header h1 a {
      text-decoration: none;
      color: rgba(0, 0, 0, 0.8); }
  div#header .title, div#header .user {
    width: 150px; }
  div#header .user {
    text-align: right; }
  div#header .section {
    height: 60px;
    display: inline-flex; }
    div#header .section > * {
      vertical-align: middle; }
    div#header .section .userInfo {
      margin: auto 5px; }
      div#header .section .userInfo > * {
        vertical-align: middle; }
      div#header .section .userInfo .userName {
        padding-left: 5px; }
    div#header .section .icon {
      height: 100%; }
    div#header .section .userImage {
      width: 30px;
      height: 30px;
      border-radius: 30px; }
  div#header .createNew {
    margin: 10px;
    height: 34px; }
    div#header .createNew #newSnippet {
      margin: 0; }
  div#header .createButton {
    position: absolute;
    top: 2;
    right: 2; }
    div#header .createButton .newButton {
      fill: #ccc;
      width: 30px;
      height: 30px; }
  div#header .createNew:Hover .newButton {
    fill: #333; }

.icon {
  transition: fill 0.3s ease;
  width: 30px;
  height: 30px;
  fill: #ccc; }
  .icon:Hover {
    fill: #666; }

form input[type="text"] {
  padding: 8px 5px 8px 5px; }

::-webkit-scrollbar {
  width: 7px; }

/* Track */
::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 7px; }

::-webkit-scrollbar-thumb:horizontal {
  -webkit-border-radius: 10px;
  border-radius: 7px;
  background: rgba(255, 255, 255, 0.4);
  background: rgba(0, 0, 0, 0.2);
  height: 2px; }

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 7px;
  background: rgba(255, 255, 255, 0.4);
  background: rgba(0, 0, 0, 0.2); }

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 255, 255, 0.2); }

#Display {
  display: flex;
  flex: 3 0px;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  max-width: 950px;
  margin: 0 auto 50px auto; }
  #Display a {
    flex: 1;
    min-width: 300px;
    max-width: 700px;
    text-decoration: none;
    color: #333; }

.preview {
  padding: 15px;
  flex: 1; }
  .preview iframe {
    width: 100%;
    height: 30em;
    border: none;
    padding: 0;
    overflow-x: hidden;
    position: relative; }
  .preview .title {
    -webkit-font-smoothing: antialiased;
    background: rgba(0, 0, 0, 0.2);
    color: rgba(0, 0, 0, 0.8);
    padding: 5px 10px 5px 10px;
    font-weight: 100; }

.thumb {
  background-size: cover;
  height: 200px;
  position: relative;
  background: #272822;
  padding: 5px 10px 5px 10px;
  overflow: hidden; }

.userCard > * {
  vertical-align: middle;
  display: inline-block; }
.userCard .userName {
  margin-left: 10px;
  font-size: 1.3em; }

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
  -webkit-filter: blur(px); }
  #footer .section {
    margin: 15px;
    padding-left: 15px;
    float: right;
    color: rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    font-weight: 100; }
  #footer .section svg {
    height: 20px;
    width: 20px;
    margin: 0 4px -1px 3px;
    fill: rgba(255, 255, 255, 0.5); }
