@import 'imports/header.scss';

#Gallery {
  display: flex;
  flex: 3 0px;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  max-width: 950px;
  margin: 0 auto 50px auto;

  -webkit-font-smoothing: antialiased;

  a {
    flex: 1;
    min-width: 300px;
    max-width: 700px;

    text-decoration: none;
    color: #333;
  }
}

.infopane {
  height: 250px;
  width: 250px;
  position:relative;
  padding: 5px 10px 5px 10px;

  overflow:hidden;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 100;
}

.container {
  padding: 15px;
  iframe {
    position:absolute;
    top:-10%;
    left:-10%;
    right:0;
    bottom:0;
    width: 120%;
    height: 120%;
    pointer-events: none;
    border: none;
    padding:0;
    //filter: grayscale(1);
  }
  .info {
    padding: 5px 10px 5px 10px;

    .user {
      float:left;
      padding: 5px 0 5px 0;

      .userIcon {
        border-radius: 15%;
        border: 1px solid #333;
        width: 1.1em;
      }
    }
    .title {
      float:left;
      padding: 5px 10px 5px 10px;

      color: #000;
      font-weight:100;
    }
    .caption {
      clear:both;

      font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
      text-transform: uppercase;
      font-size: 11px;
      color: #666;
    }
  }
}
.thumb {
  background-size:cover;
  height: 200px;
  position:relative;
  background: #272822;
  padding: 5px 10px 5px 10px;
  overflow:hidden;
}
